html
    head 
        style(type="text/css", href="./emailStyle.css")
    body
        header
            .banner
                img(src=${company_image})
        section
            p
                ${content}